# Never commit a real .dev.vars file.
YOUTUBE_ENABLED=false
BLUESKY_ENABLED=false
MASTODON_ENABLED=false
MASTODON_ALLOWED_HOSTS=mastodon.social,mastodon.online,mastodon.world,mstdn.social,piaille.fr,framapiaf.org,mamot.fr,mastodon.art,fosstodon.org,infosec.exchange,hachyderm.io,techhub.social,toot.community
LEMMY_ENABLED=false
LEMMY_ALLOWED_HOSTS=lemmy.world,lemmy.ml,jlai.lu,feddit.org
YOUTUBE_API_KEY=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
DATA_ENCRYPTION_KEY=
DRAW_SIGNING_SECRET=
SESSION_SIGNING_SECRET=
RETENTION_DAYS=30
MAX_PARTICIPANTS=10000
ALLOWED_ORIGIN=https://tiragesimple.fr
PUBLIC_SITE_URL=https://tiragesimple.fr
